/* µ×²¿ */
#cdn15ft #cdn15fc1{
	width: 100%;
	height: 180px;
	background-color: rgb(52,83,145);
}
#cdn15bdy #cdn15bc1 #icardh{
	margin-left: 0px;
}

.cdn15fc1-contens{
	width: 1300px;
	height: 180px;
	margin: 0 auto;
}
.cdn15fc1-conten{
	width: 233px;
	height: 145px;
	float: left;
	padding-top: 30px;
}
.cdn15fc1-conten span{
	font-size: 18px;
	line-height:40px;
	color: #FFF;
}
.cdn15fc1-conten ul li{
	line-height:26px;
	font-size: 13px;
	color: #FFF;
}

.cdn15fc1-conten ul a{
	color: #FFF;
	text-decoration:none;
}