.ywz_zhucexiaobo {
	float: left;
	width: 620px;
	padding-bottom: 10px;
	padding-top: 5px;
	margin-left: 20px;
}

.ywz_zhuce_xiaoxiaobao {
	float: left;
	width: 226px;
}

.ywz_zhuce_hongxian {
	float: left;
	background: #ff3300;
	width: 58px;
	height: 8px;
	margin-top: 5px;
	margin-left: 5px;
	_margin-top: 0px;
	_height: 2px;
	font-size: 0px;
}

.ywz_zhuce_hongxian2 {
	float: left;
	background: #099;
	width: 58px;
	height: 8px;
	margin-top: 5px;
	margin-left: 5px;
	_margin-top: 0px;
	_height: 2px;
	font-size: 0px;
}

.ywz_zhuce_hongxian3 {
	float: left;
	background: #060;
	width: 58px;
	height: 8px;
	margin-top: 5px;
	margin-left: 5px;
	_margin-top: 0px;
	_height: 2px;
	font-size: 0px;
}

.ywz_zhuce_huixian {
	float: left;
	background: #d6d3d3;
	width: 58px;
	height: 8px;
	margin-top: 5px;
	_margin-top: 0px;
	margin-left: 5px;
	_height: 2px;
	font-size: 0px;
}